<!DOCTYPE html>
<html
    lang="{{ or site.Language.LanguageCode }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
    <head>
        {{ partial "head.html" . }}
        {{ block "head" . }}
        {{ end }}
    </head>
    <body>
        <header class="container header">
            {{ partial "header.html" . }}
        </header>
        <main class="container">
            {{ block "main" . }}
            {{ end }}
        </main>
        <footer class="container footer">
            {{ partial "footer.html" . }}
        </footer>

        {{ block "scripts" . }}
        {{ end }}

        {{ partial "script.html" (dict "src" "js/main.js" )}}
    </body>
</html>
