@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 100 800;
    font-display: swap;
    src: url(../fonts/JetBrainsMono-Variable.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-weight: 100 800;
    font-display: swap;
    src: url(../fonts/JetBrainsMono-Ital-Variable.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/**** GENERAL TYPOGRAPHY ****/
:root {
    --color-brand: #00944d;
    --color-bg: #181818;
    --color-accent: #272727;
    --color-text: #dddddd;
    --color-meta: #9b9b9b;
    --color-highlight: #7178ff46;
}

::selection {
    background: var(--color-highlight);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    background: var(--color-bg);
    color: var(--color-text);
    font-variant-ligatures: none;
}

p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

ul {
    margin-left: 0.6rem;
    list-style-type: "*";
}

ol {
    margin-left: 1.8rem;
}

ul li,
ol li {
    padding-left: 1rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-left: 2px solid var(--color-accent);
    padding-left: 1rem;
    color: var(--color-meta);
}

button {
    color: var(--color-text);
    background: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 2rem;
    font-size: 1.4rem;
}

h1::before {
    content: "# ";
    color: var(--color-brand);
}

h2::before {
    content: "## ";
    color: var(--color-brand);
}

h3::before {
    content: "### ";
    color: var(--color-brand);
}

h4::before {
    content: "#### ";
    color: var(--color-brand);
}

h5::before {
    content: "##### ";
    color: var(--color-brand);
}

h6::before {
    content: "###### ";
    color: var(--color-brand);
}

table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse;
    display: block;
    overflow-x: scroll;
    max-width: fit-content;
}

table td,
table th {
    padding: 0.5rem;
    line-height: 1.2rem;
    border: 1px solid var(--color-accent);
}

pre {
    margin-top: 1.5rem;
    padding: 0.5rem;
    background: var(--color-accent);
    overflow-x: scroll;
}

code {
    vertical-align: bottom;
    font-family: "JetBrainsMono", monospace;
    font-size: inherit;
}

:not(pre) > code {
    padding: 0.2rem;
    background: var(--color-accent);
}

hr {
    margin-top: 1.5rem;
}

.lead {
    font-size: 1.414rem;
}

.hug {
    margin-top: 0;
}

/**** SITE STYLING ****/
.meta {
    color: var(--color-meta);
}

a {
    color: var(--color-text);
    text-decoration: underline;
    text-decoration-color: var(--color-brand);
    text-decoration-thickness: 2px;
}

a:hover {
    color: var(--color-bg);
    background: var(--color-brand);
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

/* Site Nav */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.header__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.header__menu-open-btn {
    display: none;
}

.header__menu-close-btn {
    display: none;
}

.header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.header nav ul li {
    padding: 0;
}

.header nav ul li:not(:first-child) {
    margin-left: 1.5rem;
}

/* Site Footer */
.footer {
    margin-bottom: 0.5rem;
}

/* Post layout */
.post__title {
    margin-bottom: 1rem;
}

.post__content {
    display: flex;
    flex-direction: row-reverse;
}

.post__body {
    flex: 1;
    width: 100%;
    overflow-x: hidden;
}

/* Post TOC */
.toc {
    margin-top: 1.5rem;
    width: 10rem;
    border-left: 1px solid var(--color-accent);
    padding-left: 0.4rem;
    margin-left: 1rem;
    font-size: 0.92rem;
}

.toc__wrapper {
    position: sticky;
    top: 0;
    margin-top: 0.1rem;
}

.toc ul {
    list-style: none;
    margin: 0;
}

.toc ul li {
    margin-top: 0.5rem;
    line-height: 1rem;
}

.toc ul li a {
    text-decoration: none;
    color: var(--color-meta);
}

.toc ul li a:hover {
    color: var(--color-text);
}

.toc ul li a.active {
    color: var(--color-text);
    background: var(--color-brand);
}

.toc ul ul li {
    margin-left: 0.5rem;
}

/* Post tags */

.tags__label {
    display: inline;
}

.tags ul {
    display: inline-flex;
    list-style: none;
}

.tags ul li {
    margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
    .header__menu-open-btn {
        display: block;
    }

    .header__menu-close-btn {
        display: block;
    }

    .header nav {
        display: none;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--color-accent);
        height: 3rem;
        padding: 0 1rem;
    }

    .post__content {
        flex-direction: column;
    }

    .toc {
        width: 100%;
        font-size: 1rem;
        margin-left: 0;
    }
}
